body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-text: rgba(0, 0, 0, 0.87);
}

.color[data-theme='svara'] {
  --primary: #2fb5f6;
  --primary-80: #17a6ce;
}

.color[data-theme='crayonpedia'] {
  --primary: #f9ae1f;
  --primary-80: #d38d0b;
}

.color[data-theme='officely'] {
  --primary: #00b0f0;
  --primary-80: rgb(23, 73, 126);
}

* {
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
